.alert {
    animation-name: alert-bounce;
    animation-duration: 1250ms;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.49, .46, 0, 1.46);
}

@keyframes alert-bounce {
    0% {
        transform: translateY(5%) scale(1);
    }

    50% {
        transform: scale(1.01);
    }

    75% {
        transform: translateY(0) scale(1);
    }
}